In [1]:
#-*-coding:utf-8-*-

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)
color_pal = sns.color_palette()
plt.style.use('fivethirtyeight')

In [4]:
price_df = pd.read_excel('양파가격전처리/final_onion_data.xlsx')
oil_df = pd.read_excel('경유전처리/경유.xlsx')
weather_df = pd.read_excel('기상전처리/weather_df_after2013.xlsx')
quantity_df = pd.read_excel('재배량전처리/new_quantity_area_2013_22.xlsx')
index_df = pd.read_excel('지수전처리/index_data.xlsx')

In [5]:
# 합쳐야 할 데이터프레임
dataframes = [price_df, oil_df, weather_df, quantity_df, index_df]

# date_time 컬럼을 기준으로 데이터프레임 합침
merged_df = dataframes[0]
for df in dataframes[1:]:
    merged_df = pd.merge(merged_df, df, on='date_time', how='inner')

# 합쳐진 데이터프레임
merged_df

,date_time,상품중품평균가격,자동차용경유,평균기온(℃),최고기온(℃),최저기온(℃),일교차,강수량(mm),1시간최다강수량(mm),평균습도(%rh),...,평균풍속(m/s),일조율(%),year,재배면적합계(ha),10a당생산량(kg),연단위생산량(톤),소비자물가지수,신선야채지수,생활물가지수,식품생활지수
0,2018-01-01,16425.0,1336.40,2.733333,7.466667,-0.866667,8.333333,0.000000,0.000000,38.900000,...,3.300000,89.500000,2018,26425.4270,5756,1520969,-1.894000,-11.489000,-1.773000,-5.808000
1,2018-01-02,16425.0,1337.13,3.433333,8.666667,-0.833333,9.500000,0.000000,0.000000,47.700000,...,2.500000,81.333333,2018,26425.4270,5756,1520969,-1.869839,-10.988419,-1.742097,-5.746387
2,2018-01-03,16425.0,1337.44,1.700000,5.966667,-1.300000,7.266667,0.000000,0.000000,35.966667,...,3.800000,88.466667,2018,26425.4270,5756,1520969,-1.845677,-10.487839,-1.711194,-5.684774
3,2018-01-04,16275.0,1337.83,1.566667,5.333333,-2.166667,7.500000,0.000000,0.000000,44.500000,...,2.666667,40.300000,2018,26425.4270,5756,1520969,-1.821516,-9.987258,-1.680290,-5.623161
4,2018-01-05,16125.0,1338.72,3.366667,8.033333,0.633333,7.400000,0.000000,0.000000,46.000000,...,3.600000,69.833333,2018,26425.4270,5756,1520969,-1.797355,-9.486677,-1.649387,-5.561548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1761,2022-10-28,22340.0,1864.82,15.000000,19.400000,11.333333,8.066667,6.466667,3.200000,76.233333,...,2.533333,58.100000,2022,17660.8098,6770,1195563,9.114194,6.145484,10.872581,13.417097
1762,2022-10-29,22340.0,1866.42,15.133333,18.933333,12.633333,6.300000,0.366667,0.366667,76.800000,...,2.800000,61.533333,2022,17660.8098,6770,1195563,9.110645,5.611613,10.861935,13.370323
1763,2022-10-30,22340.0,1867.15,14.533333,18.466667,12.333333,6.133333,3.666667,1.866667,76.500000,...,2.766667,52.500000,2022,17660.8098,6770,1195563,9.107097,5.077742,10.851290,13.323548
1764,2022-10-31,22340.0,1869.29,14.633333,18.766667,11.600000,7.166667,0.000000,0.000000,67.266667,...,3.066667,80.766667,2022,17660.8098,6770,1195563,9.103548,4.543871,10.840645,13.276774
1765,2022-11-01,22340.0,1872.05,14.900000,21.066667,10.233333,10.833333,0.000000,0.000000,67.566667,...,2.066667,88.266667,2022,17660.8098,6770,1195563,9.100000,4.010000,10.830000,13.230000

In [6]:
# date_time을 인덱스로 설정
merged_df = merged_df.set_index('date_time')
merged_df.index = pd.to_datetime(merged_df.index)
merged_df

,상품중품평균가격,자동차용경유,평균기온(℃),최고기온(℃),최저기온(℃),일교차,강수량(mm),1시간최다강수량(mm),평균습도(%rh),최저습도(%rh),...,평균풍속(m/s),일조율(%),year,재배면적합계(ha),10a당생산량(kg),연단위생산량(톤),소비자물가지수,신선야채지수,생활물가지수,식품생활지수
date_time,,,,,,,,,,,,,,,,,,,,,
2018-01-01,16425.0,1336.40,2.733333,7.466667,-0.866667,8.333333,0.000000,0.000000,38.900000,25.333333,...,3.300000,89.500000,2018,26425.4270,5756,1520969,-1.894000,-11.489000,-1.773000,-5.808000
2018-01-02,16425.0,1337.13,3.433333,8.666667,-0.833333,9.500000,0.000000,0.000000,47.700000,32.000000,...,2.500000,81.333333,2018,26425.4270,5756,1520969,-1.869839,-10.988419,-1.742097,-5.746387
2018-01-03,16425.0,1337.44,1.700000,5.966667,-1.300000,7.266667,0.000000,0.000000,35.966667,22.000000,...,3.800000,88.466667,2018,26425.4270,5756,1520969,-1.845677,-10.487839,-1.711194,-5.684774
2018-01-04,16275.0,1337.83,1.566667,5.333333,-2.166667,7.500000,0.000000,0.000000,44.500000,28.000000,...,2.666667,40.300000,2018,26425.4270,5756,1520969,-1.821516,-9.987258,-1.680290,-5.623161
2018-01-05,16125.0,1338.72,3.366667,8.033333,0.633333,7.400000,0.000000,0.000000,46.000000,27.666667,...,3.600000,69.833333,2018,26425.4270,5756,1520969,-1.797355,-9.486677,-1.649387,-5.561548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-28,22340.0,1864.82,15.000000,19.400000,11.333333,8.066667,6.466667,3.200000,76.233333,52.333333,...,2.533333,58.100000,2022,17660.8098,6770,1195563,9.114194,6.145484,10.872581,13.417097
2022-10-29,22340.0,1866.42,15.133333,18.933333,12.633333,6.300000,0.366667,0.366667,76.800000,57.000000,...,2.800000,61.533333,2022,17660.8098,6770,1195563,9.110645,5.611613,10.861935,13.370323
2022-10-30,22340.0,1867.15,14.533333,18.466667,12.333333,6.133333,3.666667,1.866667,76.500000,59.666667,...,2.766667,52.500000,2022,17660.8098,6770,1195563,9.107097,5.077742,10.851290,13.323548
2022-10-31,22340.0,1869.29,14.633333,18.766667,11.600000,7.166667,0.000000,0.000000,67.266667,46.666667,...,3.066667,80.766667,2022,17660.8098,6770,1195563,9.103548,4.543871,10.840645,13.276774
2022-11-01,22340.0,1872.05,14.900000,21.066667,10.233333,10.833333,0.000000,0.000000,67.566667,41.000000,...,2.066667,88.266667,2022,17660.8098,6770,1195563,9.100000,4.010000,10.830000,13.230000

In [7]:
merged_df.to_excel(excel_writer='../2013년이후_6개월단위예측/onion_after2013_combined.xlsx', sheet_name='onion_after2013_combined')